@page "/"
@inject NavigationManager Navigation
@inject IConfiguration Configuration
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject ILogger<Index> Logger
@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor
@inject IJSRuntime jsRuntime
@inject IHttpClientFactory HttpClientFactory
@using System.Security.Claims
@using ChatApp.Client.Data
@using Microsoft.AspNetCore.Http
@using System.Net;
@using Newtonsoft.Json
@using ChatApp.DtoLibrary

<PageTitle>Index</PageTitle>


<div class="row border rounded" style="width:90%;height:95vh;margin:auto">
    <div class="col-4" style="border-right:2mm ridge rgba(106, 90, 255, .6);">
        <nav id="sidbarMenu" class="collapse d-lg-block flex-column align-items-stretch" style="height:100%;">
            <div class="position-sticky" style="overflow:hidden;">
                <div style="height:50px;display:flex;justify-content:center;align-items:center;font-weight:600;font-size:20px;margin-top:1rem;">
                    Chat Rooms
                </div>

                <hr />
                <div class="list-group list-group-flush mt-4" style="overflow-y:hidden;overflow-x:hidden;display:flex;">
                    @foreach (ChatRoom chatRoom in chatRooms)
                    {
                        <a class="dropdown-item border" @onclick="() => ChangeServers(chatRoom)" style="padding-top:10px;padding-bottom:10px;">
                            @chatRoom.roomName
                        </a>
                    }
                </div>

                <div class="border-top" style="height:50px;display:flex;justify-content:center;align-items:center;font-weight:600;font-size:20px;margin-top:1rem;">

                </div>
            </div>
        </nav>
    </div>

    <div class="col-8">
        <div class="form-group row">
            <div style="display:flex;align-items:center;height:50px;font-weight:bold;font-size:30px;">
                 @currentServer?.roomName
            </div>
        </div>

        <hr>

        <div class="form-group">
            <label>
                Message:
                <input @bind="messageInput" size="50" />
            </label>
        </div>
        <button @onclick="Send" disabled="@(hubConnection?.State == HubConnectionState.Connected ? false : true)">Send</button>

        <hr>

        @if(errorMessage != "" && errorMessage != null)
        {
            <div>
                @errorMessage
                <hr />
            </div>
        }

        <ul id="messagesList">
            @if (currentServer != null)
            {
                @foreach (string message in currentServer.messages)
                {
                    <li>@message</li>
                }
            }
        </ul>
    </div>
</div>


@code {
    private HubConnection? hubConnection;
    private List<ChatRoom> chatRooms = new List<ChatRoom>();
    private ChatRoom currentServer = new ChatRoom();
    private string? messageInput;
    private string errorMessage = "";
    private string stuff;

    protected override async Task OnInitializedAsync()
    {
        HttpClient httpClient = HttpClientFactory.CreateClient();
        var response = await httpClient.GetAsync($"{Configuration.GetSection("API").Value}/api/user/auth");

        if (!response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo($"/login", true);
        }

        string? url = Configuration.GetSection("ChatUrl").Value;
        if (url == null)
        {
            return;
        }

        string token = response.Content.ReadAsStringAsync().Result;

        try {
            var roomResponse = await httpClient.GetAsync($"{Configuration.GetSection("API").Value}/api/chat/rooms");

            if (!roomResponse.IsSuccessStatusCode)
            {
                throw new Exception(roomResponse.StatusCode.ToString());
            }

            List<ChatRoomDTO> rooms = JsonConvert.DeserializeObject<List<ChatRoomDTO>>(await roomResponse.Content.ReadAsStringAsync());

            foreach (ChatRoomDTO room in rooms)
            {
                chatRooms.Add(new ChatRoom
                {
                    roomId = room.Id,
                    roomName = room.Name,
                    roomDescription = room.Description
                });
            }

            currentServer = chatRooms.FirstOrDefault();
            StateHasChanged();

            hubConnection = new HubConnectionBuilder()
                .WithUrl(url, options =>
                {
                    options.AccessTokenProvider = () => Task.FromResult(token);
                })
                .WithAutomaticReconnect()
                .Build();

            hubConnection.On<int, string, string>("ReceiveMessage", async (roomId, user, message) =>
            {
                ChatRoom chatRoom = chatRooms.Find(o => o.roomId == roomId);

                if (chatRoom != null)
                {
                    chatRoom.messages.Add($"{user}: {message}");
                    StateHasChanged();
                }
            });

            hubConnection.On<int, string>("NotificationMessage", (roomId, message) =>
            {
                ChatRoom chatRoom = chatRooms.Find(o => o.roomId == roomId);

                if (chatRoom != null)
                {
                    chatRoom.messages.Add($"Notification - {message}");
                    StateHasChanged();
                }
            });

            StateHasChanged();
            await hubConnection.StartAsync();
        }
        catch(Exception e)
        {
            errorMessage = e.Message;
            stuff = e.Message;
        }
    }

    private async Task Send()
    {
        if (hubConnection is not null && messageInput != "" && messageInput != null)
        {
            await jsRuntime.InvokeVoidAsync("console.log", "Sent Mesage", messageInput);
            await hubConnection.SendAsync("SendMessage", currentServer.roomId, messageInput);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    public void ChangeServers(ChatRoom chatRoom)
    {
        currentServer = chatRoom;
        StateHasChanged();
    }
}